<?xml version="1.0"?>
<robot name="turtlebot3_burger_sim" xmlns:xacro="http://ros.org/wiki/xacro">
    <macro name="ultrasonic_position_macro" params="position xyz rpy">        
        <!-- Ultrasonic sensors link definition -->

        <joint name="${position}_ultrasonic_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${position}_ultrasonic_link"/>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <!-- <axis xyz="1 0 0"/> -->
        </joint>


        <!-- <origin xyz="0.032 0 0.023" rpy="0 0 0"/> -->
        <link name="${position}_ultrasonic_link">
            <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
            </collision>
            <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
            </visual>
            <inertial>
            <mass value="1e-5" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0"      izz="1e-6" />
            </inertial>    
        </link>
    </macro>


</robot>